@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'VT323', monospace;
}

body {
	background: #000;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
}

.title {
	color: #fff;
	font-size: 5em;
	font-weight: normal;
}

.fadeIn {
	-webkit-animation-duration: 10s;
	animation-duration: 10s;
	-webkit-animation-name: fadeIn;
	animation-name: fadeIn;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
.fadeInDown {
	-webkit-animation-duration: 5s;
	animation-duration: 5s;
	-webkit-animation-name: fadeInDown;
	animation-name: fadeInDown;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
.fadeInUp {
	-webkit-animation-duration: 5s;
	animation-duration: 5s;
	-webkit-animation-name: fadeInUp;
	animation-name: fadeInUp;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes fadeInDown {
	from {
		opacity: 0;
		-webkit-transform: translate3d(0, -200%, 0);
		transform: translate3d(0, -200%, 0);
	}
	to {
		opacity: 1;
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
}

@keyframes fadeInUp {
	from {
		opacity: 0;
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
	to {
		opacity: 1;
		-webkit-transform: translate3d(0, -200%, 0);
		transform: translate3d(0, -200%, 0);
	}
}
